.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 32px;
}

.botoes {
	grid-column: 1/-1;
  display: grid;
	grid-template-columns: 1fr auto;
  gap: 12px;
}

.botoes > div {
	display: flex;
	gap: 12px;
	justify-content: end;
}
